@model IEnumerable<Task1.Models.employee>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.fname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.minit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.job_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.job_lvl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pub_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hire_date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.fname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.minit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.job_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.job_lvl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pub_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hire_date)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.emp_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.emp_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.emp_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
