@model IEnumerable<DBFirst.Model.Employee>
@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Minit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobLvl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PubId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HireDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                Fname:

                @Html.DisplayFor(modelItem => item.Fname)
            </td>
            <td>
                    Minit:
                @Html.DisplayFor(modelItem => item.Minit)
            </td>
            <td>
                LName:
                @Html.DisplayFor(modelItem => item.Lname)
            </td>
            <td>
                    JobId:
                @Html.DisplayFor(modelItem => item.JobId)
            </td>
            <td>
                    JobLvl:
                @Html.DisplayFor(modelItem => item.JobLvl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PubId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HireDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EmpId" >Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EmpId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EmpId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
